<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/productsPage.js" defer></script>
    <title>Register</title>
</head>

<body>

    <h1>HomePage for everyone</h1>

    <form id="registerForm">
        <input name="username" id="username" placeholder="Username" type="text" autofocus></input>
        <input name="password" id="password" placeholder="Password" type="password"></input>

        <button type="submit">Register</button>
    </form>

    <button id="myButton">Click Me</button>

    



</body>
</html>
